@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #44FFD1,#B33F00);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #220c00;
}

h1{
    color:#00B3AD;
    text-align: center;
    text-shadow: 1px 1px 0px #003d3b;
}

h2{
    color: #006663;
}